<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="__CSS__/answer_question.css?V=1.4"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
    <script type="text/javascript" src="__JS__/rem.js"></script>

    <style type="text/css">
        /** {margin: 0; padding: 0;}*/
        .splash {position: absolute; z-index: 999; display: table; width: 60px; height: 60px; background-color: #ffffff; right: 0; top: 0; margin: 10px}
        .splash>.splash-inner {display: table-cell; text-align: center; vertical-align: middle;}
        .splash .loading-circle {position: relative; width: 60px; height: 60px; margin: auto; }
        .splash .loading-circle>* {display: block; position: absolute; box-sizing: border-box; border-radius: 50px;}
        .splash .loading-circle>canvas.bg {z-index: 1; width: 100%; height: 100%; border: 8px solid #ddd ;}
        .splash .loading-circle>canvas.mask {z-index: 2; transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);}
        .splash .loading-circle>p {margin: 0; padding: 0;z-index: 3;  width: 100%; height: 100%; text-align: center; line-height: 60px; font-size: 18px; font-weight: lighter; color: #999;}
        #level-indicator{position: absolute; top: 0; left: 0; margin: 10px}
    </style>
</head>
<body>
<div class="topic">
    <div class="entrance-bottom">
        <div class="topic-frameli"></div>
        <div class="entrance-bottom-frame clearfix">

        </div>
    </div>

</div>

<div class="entrance-bottom" style="display: none" id="history">
    <!--        <div class="topic-frameli"></div>-->
    <div class="entrance-bottom-frame clearfix history">
        <p>您答对了 <span id="n-correct-question">1</span>题</p>
        <p>达到了 <span id="final-level">1</span>级</p>
        <p>超过了 <span id="bypass-percentage">99</span>% 的参与者</p>

        <div style="width: 200px; height: 200px" id="acc-hist"></div>
        <div style="width: 200px; height: 200px" id="time-hist"></div>
    </div>
</div>
<div class="splash" id="splash">
    <div class="splash-inner">
        <h1></h1>
        <!--<h2>Make every day matter</h2>-->
        <div class="loading-circle" id="loadingCircle">
            <p><span id="loadedNum">0</span></p>
            <canvas class="mask" id="loadingProgress" width="60" height="60"></canvas>
            <canvas class="bg" width="60" height="60"></canvas>
        </div>
    </div>
</div>
<canvas id="level-indicator" style="width: 60px; height: 60px"></canvas>
</body>
<!--<script src="__JS__/answer_question.js" type="text/javascript" charset="utf-8"></script>-->
<script src="__JS__/jquery-3.3.1.min.js"></script>
<script src="__JS__/wechat-jssdk.js"></script>
<script type="text/javascript">

    $.ajax({
        type: "get",
        url: "http://arena.fgb2019.top/api/wx/access_token?url=" + location.href,
        success: function (data) {
            console.log(data)
            wx.config({
                debug: false,
                appId: data.appId,
                timestamp: data.timestamp,
                nonceStr: data.nonceStr,
                signature: data.signature,
                jsApiList: [
                    "updateTimelineShareData"
                ]
            });
            wx.ready(function () {
                console.log("wx ready");
                wx.updateTimelineShareData({
                    title: "庆祝建党100年，快来挑战强国知识5分钟快测吧！请党放心，强国有我！", // 分享标题
                    link: 'http://arena.fgb2019.top/index/index/sign_in?from_wx_id={$my_wx_id}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: 'http://arena.fgb2019.top/static/images/logo-share.jpg', // 分享图标
                    success: function () {
                        console.log("share set success");
                    }, error: function (e) {
                        console.log("error");
                        // console.log(e);
                    }
                })

            });
            wx.error(function (res) {
                console.log("wx error!");
            });
        }
    });

    // 全局变量

    let is_multi = false;
    let optionPool = [false, false, false, false];
    let n_current_questions = 0;
    let frame_left = 0;
    let submitListener;
    let selectListener;
    let startAnswerDate;
    let draw;
    let currentLevel = 1;
    let renderInterval = null;

    // // 先登录， 上线时删除
    // $.ajax({
    //     url: "/api/user_control/user_sign_in",
    //     type: "post",
    //     data: {
    //         wx_id: "123"
    //     }
    // });

    // 开始答题
    $.ajax({
        url: "/api/user_control/begin_transaction",
        type: "get",
        success: function (response){
            if (response.status === 0){
                let op_keys = ["op_a", "op_b", "op_c", "op_d"];
                let options = [];
                for (let i in op_keys){
                    if (response.data[op_keys[i]] !== ""){
                        options.push(response.data[op_keys[i]]);
                    }
                }
                let question = response.data;
                question.options = options;
                render_question(n_current_questions++, question);
            }
        }
    })


    //渲染新的题目
    function render_question(i, question) {
        // 將本项目设为排他active
        $(".entrance-bottom-frame-line").removeClass("active");


        let div = document.createElement("div");
        div.className = "entrance-bottom-frame-line active";
        document.querySelector(".entrance-bottom-frame").appendChild(div);


        let div2 = document.createElement("div");
        div2.className = "entrance-bottom-frame-line-title";
        div2.innerHTML = question.content;
        document.querySelectorAll(".entrance-bottom-frame-line")[i].appendChild(div2);


        let divli1 = document.createElement("div");
        divli1.innerHTML = parseInt(i) + 1;


        for (let j = 0; j < question.options.length; j++) {
            let div3 = document.createElement("div");
            div3.className = "entrance-bottom-frame-line-button";
            let div3_id = document.createElement("div");
            div3_id.className = "entrance-bottom-frame-line-button-id";
            if (j === 0) {
                div3_id.innerHTML = "A";
                div3.setAttribute("value", "0");
            } else if (j === 1) {
                div3_id.innerHTML = "B";
                div3.setAttribute("value", "1");
            } else if (j === 2) {
                div3_id.innerHTML = "C";
                div3.setAttribute("value", "2");
            } else {
                div3_id.innerHTML = "D";
                div3.setAttribute("value", "3");
            }
            let div4 = document.createElement("div");
            div4.className = "entrance-bottom-frame-line-button-frame";
            div4.innerHTML = question.options[j];
            div3.appendChild(div3_id)
            div3.appendChild(div4);
            document.querySelectorAll(".entrance-bottom-frame-line")[i].appendChild(div3);

        }
        // 提交按钮
        let div5 = document.createElement("div");
        div5.className = "entrance-submit entrance-switch";
        div5.innerHTML = "提交";
        document.querySelectorAll(".entrance-bottom-frame-line")[i].appendChild(div5);

        $(div5).bind("click", submitListener = function (){
            submitAnswer();
        });

        mintime = 1;
        let select1 = 1
        let frame_left = 0
        document.querySelector(".entrance-bottom-frame").style.marginLeft = frame_left + "%"
        document.querySelector(".topic-frameli").innerHTML = "第 " + "<div>" + n_current_questions + "</div>" + " 题";
        clearInterval(renderInterval);
        renderInterval = render_level_indicator(currentLevel, question.level);
        currentLevel = question.level;


        $(".entrance-bottom-frame-line-button").bind("click", selectListener = function () {
            let n_op = parseInt($(this).attr("value"));

            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                optionPool[n_op] = false;
            } else {
                // 单选题屏蔽其他选项
                if (!is_multi) {
                    $(".entrance-bottom-frame-line-button").removeClass("active");
                    for (let i = 0; i < optionPool.length; i++) {
                        optionPool[i] = false;
                    }
                }
                $(this).addClass("active");
                optionPool[n_op] = true;
            }
        });

        // 渲染结束，计时开始
        startAnswerDate = new Date();
        // 启动计时器
        showTimer();
        ulp(20 - question.level * 2, function (){
            $("#loadedNum").text("超时");
            submitAnswer(true); // 超时提交答案
        });
    }


    // 翻页函数
    function nextPage() {
        frame_left += -100;
        document.querySelector(".entrance-bottom-frame").style.marginLeft = frame_left + "%"

        // document.querySelector(".topic-frameli").innerHTML = "第 " + "<div>" + n_current_questions + "</div>" + " 题"

    }

    function addClass(obj, cls) {
        let obj_class = obj.className,//获取 class 内容.
            blank = (obj_class !== '') ? ' ' : '';//判断获取到的 class 是否为空, 如果不为空在前面加个'空格'.
        added = obj_class + blank + cls;//组合原来的 class 和需要添加的 class.
        obj.className = added;//替换原来的 class.
    }

    function removeClass(obj, cls) {
        let obj_class = ' ' + obj.className + ' ';//获取 class 内容, 并在首尾各加一个空格. ex) 'abc    bcd' -> ' abc    bcd '
        obj_class = obj_class.replace(/(\s+)/gi, ' '),//将多余的空字符替换成一个空格. ex) ' abc    bcd ' -> ' abc bcd '
            removed = obj_class.replace(' ' + cls + ' ', ' ');//在原来的 class 替换掉首尾加了空格的 class. ex) ' abc bcd ' -> 'bcd '
        removed = removed.replace(/(^\s+)|(\s+$)/g, '');//去掉首尾空格. ex) 'bcd ' -> 'bcd'
        obj.className = removed;//替换原来的 class.
    }

    function hasClass(obj, cls) {
        let obj_class = obj.className,//获取 class 内容.
            obj_class_lst = obj_class.split(/\s+/);//通过split空字符将cls转换成数组.
        for (let x in obj_class_lst) {
            if (obj_class_lst[x] === cls) { //循环数组, 判断是否包含cls
                return true;
            }
        }
        return false;
    }

    function render_answer(answer){
        console.log(answer)
        $(".entrance-bottom-frame-line-button").unbind("click", selectListener); // 注销监听器

        let answer_candidates = ["A", "B", "C", "D"];
        let answer_id = answer_candidates.indexOf(answer);
        $(".entrance-bottom-frame-line.active .entrance-bottom-frame-line-button:eq(" + answer_id + ")").addClass("correct");
        $(".entrance-submit").addClass("entrance-next");
        let nextButton = $(".entrance-bottom-frame-line.active .entrance-next");
        nextButton.unbind("click", submitListener);
        nextButton.removeClass("entrance-submit");
        // nextButton.text("下一题");
        setTimeout(function (){
            $.ajax({
                url: "/api/user_control/request_next_question",
                type: "get",
                success: function (response){
                    if (response.status === 0){
                        let op_keys = ["op_a", "op_b", "op_c", "op_d"];
                        let options = [];
                        for (let i in op_keys){
                            if (response.data[op_keys[i]] !== ""){
                                options.push(response.data[op_keys[i]]);
                            }
                        }
                        let question = response.data;
                        question.options = options;
                        render_question(n_current_questions++, question);
                        nextPage();
                    } else {
                        // 答题结束
                        renderHistory(response.data);
                    }
                }
            })
        }, 500);
    }

    function submitAnswer(timeOver=false){
        //提交答案，先结束计时
        let endDate = new Date();
        let timeVariance = endDate.getTime() - startAnswerDate.getTime();


        let answer = "";
        let answer_candidates = ["A", "B", "C", "D"];
        for (let i in optionPool){
            if (optionPool[i]){
                answer += answer_candidates[i];
            }
        }
        if (timeOver){
            answer = "E";
        }
        if (answer === ""){
            // alert("not answered!");
            return ;
        }

        if (answer !== "E"){
            hideTimer();
        }

        // 重置答案池
        for (let i in optionPool){
            optionPool[i] = false;
        }



        $.ajax({
            url: "/api/user_control/answer_question",
            type: "post",
            data: {
                answer: answer,
                time: timeVariance,
            },
            success: function (response){
                if (response.status === 0){
                    render_answer(response.data);
                }
            }
        })
    }
    // 渲染历史页面
    function renderHistory(history){
        // 屏蔽计时器
        hideTimer();
        $("#level-indicator").hide();
        // 清空topic
        $(".topic").empty();
        let shareImg = new Image();
        shareImg.src = "/api/image_gen/share_image";
        $(".topic").append(shareImg);
        let center = document.createElement("center");
        center.innerText = "长按图片，保存分享";
        $(".topic").append(center);

    }

    // 倒计时器
    let slots={},c=document.getElementById('loadingProgress'),ctx=c.getContext('2d');
    function ulp(second, onFinish){
        if (draw !== null){
            clearInterval(draw);
        }
        window.loading = true;
        let i = second;
        draw = setInterval(function(){
            if (i < 0) {
                clearInterval(draw);
                draw = null;
                if (onFinish !== null){
                    onFinish();
                }
                return true;
            }

            else {
                d(i, second);
                i -= 0.05;
            }
        }, 50);
    }

    function d(now, second){
        let lp = document.getElementById('loadedNum');
        if (now >= 5){
            lp.innerHTML = now.toFixed(0) + "秒";
        } else {
            lp.innerHTML = now.toFixed(1) + "秒";
        }

        let loaded = now * 2 / second * Math.PI, cw = 60, hcw = 30;
        ctx.clearRect (0,0,cw,cw);
        ctx.beginPath();
        ctx.arc(hcw,hcw,hcw-4, 0, loaded, false);
        ctx.lineWidth = 8;
        ctx.strokeStyle = '#ff6000';
        ctx.stroke();
    }
    // 隐藏计时器
    function showTimer(){
        $("#splash").show();
    }
    function hideTimer(){
        $("#splash").hide();
    }


    // 这里面有内存泄漏，懒得查了，整个刷新 糊弄一下
    function render_level_indicator(previousLevel, currentLevel){
        // 等级标识，超长代码 屎山警告
        let canvas = document.getElementById('level-indicator');
        let levelctx = canvas.getContext('2d');

        let dpr = window.devicePixelRatio;

        //range控件信息
        let nowRange = previousLevel * 20;

        //画布属性

        let mW = canvas.width=canvas.clientWidth*window.devicePixelRatio;
        let mH = canvas.height=canvas.clientHeight*window.devicePixelRatio;
        let lineWidth = 2;

        //圆属性
        let r = mH / 2; //圆心
        let cR = r - 3 * lineWidth; //圆半径

        //Sin 曲线属性
        let sX = 0;
        let sY = mH / 2;
        let axisLength = mW; //轴长
        let waveWidth = 0.03 ; //波浪宽度,数越小越宽
        let waveHeight = 6; //波浪高度,数越大越高
        let speed = 0.2; //波浪速度，数越大速度越快
        let xOffset = 0; //波浪x偏移量

        levelctx.lineWidth = lineWidth;

        //画圈函数
        let IsdrawCircled = false;
        let drawCircle = function(){

            levelctx.beginPath();
            levelctx.strokeStyle = '#FF6000';
            levelctx.arc(r, r, cR+5, 0, 2 * Math.PI);
            levelctx.stroke();
            levelctx.beginPath();
            levelctx.arc(r, r, cR, 0, 2 * Math.PI);
            levelctx.clip();

        }

        //画sin 曲线函数
        let drawSin = function(xOffset){
            // levelctx.save();

            let points=[]; //用于存放绘制Sin曲线的点

            levelctx.beginPath();
            //在整个轴长上取点
            for(let x = sX; x < sX + axisLength; x += 20 / axisLength){
                //此处坐标(x,y)的取点，依靠公式 “振幅高*sin(x*振幅宽 + 振幅偏移量)”
                let y = -0.6 * Math.sin((sX  + x) * waveWidth + xOffset);

                let dY = mH * (1 - nowRange / 100 );

                points.push([x, dY + y * waveHeight]);
                levelctx.lineTo(x, dY + y * waveHeight);
            }

            //封闭路径
            levelctx.lineTo(axisLength, mH);
            levelctx.lineTo(sX, mH);
            levelctx.lineTo(points[0][0],points[0][1]);
            levelctx.fillStyle = '#FF6000';
            levelctx.fill();

            // levelctx.restore();
        };

        //写百分比文本函数
        let drawText = function(){
            // levelctx.save();

            let size = 0.6*cR;
            levelctx.font = size + 'px Microsoft Yahei';
            levelctx.textAlign = 'center';
            levelctx.fillStyle = "rgba(0,0,0, 0.8)";
            levelctx.fillText(currentLevel + "级", r, r + size / 2 - 30);
            levelctx.fillText("难度", r, r + size / 2 + 30);

            // levelctx.restore();
        };

        let render = function(){
            levelctx.clearRect(0, 0, mW, mH);

            rangeValue = 20 * currentLevel;

            if(IsdrawCircled === false){
                drawCircle();
            }

            if(nowRange <= rangeValue){
                let tmp = 1;
                nowRange += tmp;
            }

            if(nowRange > rangeValue){
                let tmp = 1;
                nowRange -= tmp;
            }

            drawSin(xOffset);
            drawText();

            xOffset += speed;
            // requestAnimationFrame(render);
        }

        return setInterval(render, 50);
    }




</script>
</html>
