<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<script src="__JS__/jquery-3.3.1.min.js"></script>
<script src="__JS__/wechat-jssdk.js"></script>
<script>
    $.ajax({
        type : "get",
        url : "http://dict.fgb2019.top/api/wx/access_token?url="+location.href,
        success : function(data){
            console.log(data);
            alert(data.openid);
            wx.config({
                debug: false,
                appId: data.appId,
                timestamp: data.timestamp,
                nonceStr: data.nonceStr,
                signature: data.signature,
                jsApiList: [
                    "updateTimelineShareData"
                ]
            });
            wx.ready(function () {
                console.log("wx ready");
                wx.updateTimelineShareData({
                    title: "我是第1个领取校友录取通知书的上财校友，快来点击领取吧！", // 分享标题
                    link: 'http://sufe100.fgb2019.top/admission', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: 'http://sufe100.fgb2019.top/static/img/admission/cover-1.png', // 分享图标
                    success: function () {
                        console.log("share set success");
                    }, error: function(e){
                        console.log(e);
                    }
                })

            });
            wx.error(function(res){
                console.log("wx error!");
            });
        }
    });
</script>
</body>
</html>